name: Run Cut Optimization System

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.X'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Wait for PostgreSQL
      run: |
        sleep 10

   
    - name: 01 Esquema
      run: PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ${{ github.workspace }}/01_esquema_tablas.sql

    - name: 02 Seguridad
      run: PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ${{ github.workspace }}/02_seguridad_roles.sql

    - name: 03 CRUD
      run: PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ${{ github.workspace }}/03_funciones_crud.sql

    - name: 04 Alta
      run: PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ${{ github.workspace }}/04_procedimientos_alta.sql

    - name: 05 Logica
      run: PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ${{ github.workspace }}/05_logica_negocio.sql

    - name: 06 Calculos
      run: PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ${{ github.workspace }}/06_calculos.sql

    - name: 07 Triggers
      run: PGPASSWORD=postgres psql -h localhost -U postgres -d test_db -f ${{ github.workspace }}/07_triggers.sql

    # Pruebas unitarias
    - name: Run tests
      run: pytest tests/test_proyecto.py
